/**
 Copyright 2019 Itay Grudev
 License: MIT
 */

 .ciclegraph {
  background: url("../img/table.png") no-repeat center center; 
	position: relative;
  width: 500px;
  height: 500px;
  margin: 10% auto 0 auto;
}

.ciclegraph:before {
	content: "";
	position: absolute;
	top: 0; left: 0;
  border: 2px solid teal;
  width: calc( 100% - 2px * 2);
  height: calc( 100% - 2px * 2 );
  border-radius: 50%;
}

.ciclegraph .circle {
	position: absolute;
	top: 50%; left: 50%;
  width: 167px;
  height: 167px;
  margin: calc( -167px / 2 );
  background: teal;
}

.background {
  background: url("../img/Background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#main_player {
  background: rgb(128, 73, 0);
}
