
 .CircularTable {
  background: url("../img/table.png") no-repeat center center; 
	position: relative;
  width: 800px;
  height: 520px;
  margin: 10% auto 0 auto;
}

.CircularTable:before {
	content: "";
	position: absolute;
	top: 0; left: 0;
  border: 2px solid teal;
  width: calc( 100% - 2px * 2);
  height: calc( 100% - 2px * 2 );
  border-radius: 50%;
}

.CircularTable .PlayerContainer {
	position: absolute;
	top: 50%; left: 50%;
  width: 8em;
  height: 8em;
  margin: calc( -8em / 2 );
  background: teal;
}

.background {
  background: url("../img/Background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#main_player {
}


.CardContainer {
  position: relative;
  width: 34em;
  height: 12em;
  box-shadow: 0 0.125em 0.25em 0 rgba(0,0,0,0.2);
  border: 2px solid rgb(0, 0, 0);
}

.CardContainer .Cards {
	position: absolute;
  width: 8em;
}

.OverCardContainer {
  background: rgb(196, 25, 25);
}

.HideCard {
  display: none
}



/* the starting div of the PlayerContainer */ 
.PlayerContainer {
  position: relative;
  box-shadow: 0 0.125em 0.25em 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 8em;
  border-radius: 1em;
}

/* The picture of the player */ 
.PlayerPhotoImg {
  width: 8em;
}

/* the starting div all of the player data */ 
.PlayerDataContainer {
  position: relative;
}


/* The speech bubble image that will have status  */ 
.SpeechBubbleImg {
  position: absolute;    
  width: 6em;
  transform: translate(-1em, -8em) scale(1);
}

/* The speech bubble text that will have status  */ 
.SpeechBubbleText {
  position: absolute;    
  width: 6em;
  transform: translate(-1.5em, -6em);
  color: rgb(0, 0, 0);    
  margin: 0.2em;
  font-size: 20px; /*or whatever you want*/
  text-align: center;
}


/* The NameTag image that will have the name of the player */ 
.PlayerNameImg {
  position: absolute;    
  width: 8em;
  transform: scale(1.7);
}

/* the players name text field */
.PlayerNameText {
  position: absolute;    
  width: 6em;
  transform: translate(0.0em, 0.0em);
  color: rgb(0, 0, 0);    
  margin: 0.2em;
  font-size: 20px; /*or whatever you want*/
  text-align: center;
}

/* The image that will have the number of cards */ 
.NumCardsImg {
  position: absolute;    
  width: 8em;
  transform: translate(0.5em, 2em) scale(1.5);
}

/* the players name text field */
.NumCardsText {
  position: absolute;    
  width: 6em;
  transform: translate(0.0em, 2.5em);
  color: rgb(0, 0, 0);    
  margin: 0.2em;
  font-size: 20px; /*or whatever you want*/
  text-align: center;
}



