
 .CircularTable {
  background: url("../img/table.png") no-repeat center center; 
	position: relative;
  width: 800px;
  height: 520px;
  margin: 10% auto 0 auto;
}

.CircularTable:before {
	content: "";
	position: absolute;
	top: 0; left: 0;
  border: 2px solid teal;
  width: calc( 100% - 2px * 2);
  height: calc( 100% - 2px * 2 );
  border-radius: 50%;
}

.CircularTable .PlayerContainer {
	position: absolute;
	top: 50%; left: 50%;
  width: 8em;
  height: 8em;
  margin: calc( -8em / 2 );
  background: teal;
}

.background {
  background: url("../img/Background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#main_player {
}


/* The picture of the player */ 
.PlayerPhoto {
  width: 8em;
}

/* The Tag that will have the name of the player */ 
.NameTag {
  width: 8em;
  transform: scale(1.7);
}

/* Information on the number of cards */ 
.NumCards {
  width: 8em;
  transform: translate(0em, 1em) scale(1.5);
}

/* the players name text field */
.PlayerName {
  margin: 0em;
}

/* the starting div of the PlayerContainer */ 
.PlayerContainer {
  position: relative;
  box-shadow: 0 0.125em 0.25em 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 8em;
  border-radius: 1em;
}

/* the starting div all of the player data */ 
.PlayerDataContainer {
  position: relative;
}

/* the Player Name Text Box */ 
.PlayerNameTextBox {
  position: absolute;    
  text-align: center;
  left: 1.5em;
  top: 0.0em;
  font-size: 20px; /*or whatever you want*/
  color: rgb(255, 255, 255);    
}


